.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 95%;
  border-radius: 5px;
  background-color: white;
  margin-left: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.row {
  padding: 2px 16px;
  border-top: 1px solid rgb(232, 234, 237);
  border-radius: 4px;
  transition: background-color 0.3s;
}

.row:hover {
	cursor: pointer;
	background-color: #fafafa;
}

.row p {
	padding-left: 15px;
}

.italic {
	font-style: italic;
}

.green {
	color: #5cb85c;
}

.yellow {
	color: #FDE541;
}

.red {
	color: red;
}

