:root{
  --nav_backgroundcolor1:rgb(247, 246, 243);
  --main_backgroundcolor:rgb(230, 255, 247);
  --main_backgroundcolor_accent: rgb(128, 255, 212);
  --category_food_light: rgb(252, 207, 182);
  --category_food_dark:rgb(216, 113, 53);
  --category_transportation_light: rgb(223, 159, 223);
  --category_transportation_dark:rgb(153, 51, 153);
  --category_ultilities_light: rgb(169, 217, 239);
  --category_ultilities_dark:rgb(39, 152, 205);
  --category_entertainment_light: rgb(255, 153, 194);
  --category_entertainment_dark:rgb(179, 0, 71);
  --category_living_light: rgb(153, 255, 204);
  --category_living_dark:rgb(0, 179, 89);
  --history_good_budget:rgb(92, 184, 92);
  --history_modify_budget:rgb(204, 163, 0);
  --history_bad_budget:rgb(255, 0, 0);
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--nav_backgroundcolor1);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgba(25, 23, 17, 0.6);
  display: block;
}

.sidenav a:not(.active):hover {
  opacity: 0.5;
}

.main {
  margin-left: 15%;
  height: 100%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

ul {
  list-style-type: none;
  margin: 0;
  margin-left: 15%;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 85%;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgba(25, 23, 17, 0.6);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*li a:hover:not(.active) {
  background-color: #111;
}*/

.sidenav a.active {
  color: rgba(25, 23, 17, 0.3);
}

.sidenav a.active:hover {
  cursor: default;
}

.nav-tab{
  padding:20px;
  height: 100vh;
  background-color:var(--main_backgroundcolor);
}
